<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>31371 (B) ASTR 105-01</key>
	<string>Intro to Astronomy
Must be taken with ASTR 105L.
SELB 144  M/W/F  09:00AM - 09:50AM	4.0	Bragg, Ann E.</string>
	<key>31374 ASTR 105L-01</key>
	<string>Astronomy Lab
Evening observing 8:30-9:30pm required when skies are clear.
SELB 131  TH  01:00PM - 04:00PM
SELB 131  TH  08:30PM - 09:30PM	0.0	Bragg, Ann E.</string>
</dict>
</plist>
