<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>30823 (M) CHIN 101-01</key>
	<string>Chinese Level I
THMS 309  M/W/F  11:00AM - 11:50AM
THMS 223  W  03:30PM - 04:20PM	4.0	Tong, Luding</string>
	<key>30824 (M) CHIN 201-01</key>
	<string>Intermed.Chinese I
THMS 309  M/W/F  10:00AM - 10:50AM	3.0	Tong, Luding</string>
	<key>30826 (M) CHIN 301-01</key>
	<string>Adv Chinese I
THMS 309  M/W/F  09:00AM - 09:50AM	3.0	Tong, Luding</string>
</dict>
</plist>
