<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>31916 (R) DANC 106-01</key>
	<string>Modern/Jazz II
DBRC MULT  T/TH  11:00AM - 12:15PM	1.5	Romage, Rachel</string>
	<key>31918 (R) DANC 107-01</key>
	<string>Dance in Mus Thea I
DBRC MULT  T/TH  09:30AM - 10:45AM	1.5	Romage, Rachel</string>
</dict>
</plist>
